<ul class="nav navbar-nav mr-auto float-left">
    <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
    <li class="dropdown nav-item mega-dropdown d-none d-lg-block">
        @*<a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Mega</a>*@
        <ul class="mega-dropdown-menu dropdown-menu row p-1">
            @*<li class="col-md-4 bg-mega p-2">
                <h3 class="text-white mb-1 font-weight-bold">Mega Menu Sidebar</h3>
                <p class="text-white line-height-2">Candy canes bonbon toffee. Cheesecake dragée gummi bears chupa chups powder bonbon. Apple pie cookie sweet.</p>
                <button class="btn btn-outline-white">Learn More</button>
            </li>
            <li class="col-md-5 px-2">
                <h6 class="font-weight-bold font-medium-2 ml-1">Admin Panel</h6>
                <ul class="row mt-2">
                    <li class="col-6 col-xl-4">
                        <a class="text-center mb-2 mb-xl-3" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/rtl/ecommerce-menu-template" target="_blank">
                            <i class="la la-shopping-cart font-large-1 mr-0"></i>
                            <p class="font-medium-2 mt-25 mb-0">eCommerce</p>
                        </a>
                    </li>
                    <li class="col-6 col-xl-4">
                        <a class="text-center mb-2 mb-xl-3" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/rtl/travel-menu-template" target="_blank">
                            <i class="la la-plane font-large-1 mr-0"></i>
                            <p class="font-medium-2 mt-25 mb-0">Travel</p>
                        </a>
                    </li>
                    <li class="col-6 col-xl-4">
                        <a class="text-center mb-2 mb-xl-3 mt-75 mt-xl-0" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/rtl/hospital-menu-template" target="_blank">
                            <i class="la la-stethoscope font-large-1 mr-0"></i>
                            <p class="font-medium-2 mt-25 mb-0">Hospital</p>
                        </a>
                    </li>
                    <li class="col-6 col-xl-4">
                        <a class="text-center mb-2 mt-75 mt-xl-0" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/rtl/crypto-menu-template" target="_blank">
                            <i class="la la-bitcoin font-large-1 mr-0"></i>
                            <p class="font-medium-2 mt-25 mb-50">Crypto</p>
                        </a>
                    </li>
                    <li class="col-6 col-xl-4">
                        <a class="text-center mb-2 mt-75 mt-xl-0" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/rtl/support-menu-template" target="_blank">
                            <i class="la la-tag font-large-1 mr-0"></i>
                            <p class="font-medium-2 mt-25 mb-50">Support</p>
                        </a>
                    </li>
                    <li class="col-6 col-xl-4">
                        <a class="text-center mb-2 mt-75 mt-xl-0" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/rtl/bank-menu-template" target="_blank">
                            <i class="la la-bank font-large-1 mr-0"></i>
                            <p class="font-medium-2 mt-25 mb-50">Bank</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="col-md-3">
                <h6 class="font-weight-bold font-medium-2">Components</h6>
                <ul class="row mt-1 mt-xl-2">
                    <li class="col-12 col-xl-6 pl-0">
                        <ul class="mega-component-list">
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-alerts.html" target="_blank">Alert</a></li>
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-callout.html" target="_blank">Callout</a></li>
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-buttons-basic.html" target="_blank">Buttons</a></li>
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-carousel.html" target="_blank">Carousel</a></li>
                        </ul>
                    </li>
                    <li class="col-12 col-xl-6 pl-0">
                        <ul class="mega-component-list">
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-dropdowns.html" target="_blank">Drop Down</a></li>
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-list-group.html" target="_blank">List Group</a></li>
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-modals.html" target="_blank">Modals</a></li>
                            <li class="mega-component-item"><a class="mb-1 mb-xl-2" href="component-pagination.html" target="_blank">Pagination</a></li>
                        </ul>
                    </li>
                </ul>
            </li>*@
        </ul>
    </li>
    <li class="nav-item nav-search">
      @*  <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>*@
        <div class="search-input">
            @*<input class="input" type="text" placeholder="Explore Modern..." tabindex="0" data-search="template-list">
            <div class="search-input-close"><i class="ft-x"></i></div>
            <ul class="search-list"></ul>*@
        </div>
    </li>
</ul>