
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link type="text/css" href="~/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<div class="container-fluid">
    <div class="row mt-5">
        <div class="card shadow w-100">
            <div class="card-header font_Vazir_Medium">
                توجه !!!
            </div>
            <div class="card-body">
                <div class="alert alert-warning">
                    <h3 class="text-center text-white">
                        <i class="fas fa-exclamation-triangle ml-1"></i>
                        شما اجازه دسترسی به این صفحه را ندارید ...
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>



