@model Pro.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link type="text/css" href="~/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<div class="container-fluid">
    <div class="row mt-5">
        <div class="card shadow w-100">
            <div class="card-header font_Vazir_Medium">
                تغییر کلمه عبور
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        @if (ViewBag.Alert != null)
                        {
                            <div class="alert alert-success alert-dismissable mb-3">
                                @ViewBag.Alert
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        <form asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-3"></div>
                            <div class="form-group">
                                <label asp-for="OldPassword"></label>
                                <input asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword"></label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary float-left">تغییر کلمه عبور</button>
                        </form>
                    </div>
                    <div class="col-md-6 border-left">
                        <p> کاربر عزیز</p>
                        <ul>
                            <li>کلمه عبور شما باید حداقل دارای 6 کاراکتر باشد.</li>
                            <li>در کلمه عبور خود از حروف و اعداد لاتین و کاراکترهای خاص ("#,!,?,^,...") استفاده کنید.</li>
                            <li>لطفا کلمه عبور خود را در فواصل زمانی کوتاه تغییر دهید.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





