<link href="~/css/style.css" rel="stylesheet" />
<style>
body { 
  background-color: #007aff; 
  color: #fff;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  direction:rtl !important;
}

</style>

<div class="error404" style="text-align:center">
    <h1>404</h1>
    <div >
        <p>صفحه مورد نظر یافت نشد !!!</p>
        <a class="button" href="/Home/Dashboard"><i class="icon-home"></i>صفحه اصلی </a>
    </div>
</div>
